In [1]:
import pandas as pd 
df = pd.DataFrame({
    'col1': [1,4,3,4,2,7],
    'col2': [1,1,1,1,1,1]
})
df

   col1  col2
0     1     1
1     4     1
2     3     1
3     4     1
4     2     1
5     7     1